<div class="col-md-2 offset-1">
  <h3 class="my-3 bg-light text-center">
    <strong>
      <%= @user == current_user ? 'マイページ' : @user.name %>
    </strong>
  </h3>
</div>

<% if @user == current_user %>
  <div class="col-md-4 offset-1 d-flex justify-content-start my-3">
    <div class="mx-5"><%= link_to "編集する", edit_user_registration_path, class: 'btn btn-sm btn-success' %></div>
  </div>
<% end %>

<div class="col-md-4 offset-1">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th class="table-secondary">氏名</th>
        <td><%= @user.name %></td>
        <td><%= image_tag @user.get_image(100,100) %></td>
      </tr>
      <tr>
        <th>自己紹介</th>
          <td colspan=2><%= @user.introduction %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-md-4 offset-1">
  <% @user.posts.each do |post| %>
    <div>
      <div><%= @user.name %></div>
      <div>タイトル：<%= post.title %></div>
      <div>本文：<%= post.body %></div>
      <div><%= image_tag post.get_image %></div>
    </div>
  <% end %>
</div>