<div class="offset-1 d-flex">
  <h3 class="my-3 bg-light text-center px-5">
    <strong>
      <%= @user == current_user ? 'マイページ' : @user.name %>
    </strong>
  </h3>
  <% if @user == current_user %>
    <div class="col-md-4 offset-1 d-flex justify-content-start my-3">
      <div class="mx-5"><%= link_to "編集する", edit_user_registration_path, class: 'btn btn-sm btn-success' %></div>
    </div>
  <% end %>
</div>

<% unless @user.guest_user? %>
  <div class="row">
    <%= link_to "",edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4 offset-1 mt-3">
    <table class="table table-bordered">
      <tbody>
        <tr class="text-center">
          <th>氏名</th>
          <td><%= @user.name %></td>
          <td><%= image_tag @user.get_image(100,100) %></td>
        </tr>
        <tr>
          <th class="text-center">自己紹介</th>
            <td colspan=2><%= @user.introduction %></td>
        </tr>
      </tbody>
    </table>


      <div class="d-flex">
        <div class="mr-3">
          <%= link_to user_follows_path(@user) do %>
            <h5 class="my-3 bg-light text-center"><strong>フォロー</strong></h5>
          <% end %>
          <div class="text-center">
            <h6><%= @user.followers.count %></h6>
          </div>
        </div>
        <div class="mr-3">
          <%= link_to user_followers_path(@user) do %>
            <h5 class="my-3 bg-light text-center"><strong>フォロワー</strong></h5>
          <% end %>
          <div class="text-center">
            <h6><%= @user.followeds.count %></h6>
          </div>
        </div>
        <div class="ml-5">
          <% if current_user!= @user %>
            <% if current_user.following?(@user) %>
              <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-danger" %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class:"btn btn-success" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

      <div class="col-md-4 offset-1">
        <% @user.posts.each do |post| %>
          <div>
            <div class="my-3">
              <h3><strong><%= post.title %></strong></h3>
            </div>
            <div class="my-3 text-break"><%= post.body %></div>
            <%= link_to post_path(post.id) do %>
              <div class="mt-3"><%= image_tag post.get_show_image(300, 300), class: 'img-fluid' %></div>
            <% end %>
            <div><%= post.created_at.strftime('%Y/%m/%d') %></div>
            <div id="favorite_buttons_<%= post.id %>" >
              <%= render partial: "favorites/favorite", locals: {post: post} %>
            </div>
          </div>
    <% end %>
  </div>
</div>