<div class="row">
  <div class="my-5 col-md-8 mx-auto">
    <div class="d-flex justfy-content-center">
      <div class="mx-5">
        <div>
          <div class="mx-5">
          <div class="mx-5"><h2><%= link_to @user.name, user_path(@user.id) %></h2>
          <div class="my-5"><h1><strong><%= @post.title %></strong></h1></div>
          <div class="my-5 text-break"><%= @post.body %></div>
          <div class="my-5"><%= image_tag @post.get_show_image(500, 500), class: 'img-fluid' %>
          <div>
            <div class="my-4">
              コメント件数：<%= @post.post_comments.count %>
            </div>
            <div id="favorite_buttons_<%= @post.id %>" >
              <%= render partial: "favorites/favorite", locals: {post: @post} %>
            </div>
              <% @post.post_comments.each do |post_comment| %>
                <div><%= link_to post_comment.user.name, user_path(post_comment.user) %></div>
                <div><%= post_comment.created_at.strftime('%Y/%m/%d') %></div>
                <div class="text-break"><%= post_comment.comment %></div>
              <%# if @post_comment.user == current_user %>
                <div><%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete,  data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></div>
              <%# end %>
            <% end %>
          </div>
          <div>
            <%= form_with model: [@post, @post_comment] do |f| %>
              <div class="mt-4">
                <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
              </div>
              <div class="mx-1 mt-2 mb-4">
                <%= f.submit "送信する", class: "btn-sm btn-warning" %>
              </div>
            <% end %>
          </div>
          <% if @post.user == current_user %>
            <div class="mx-1 my-1"><%= link_to "編集する", edit_post_path, class: 'btn btn-sm btn-success' %></div>
            <div class="mx-1 my-1"><%= link_to '削除する', post_path(@post.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>