<div class="col-md-2 offset-1">
  <h3 class="my-3 bg-light text-center"><strong>ユーザー編集</strong></h3>
</div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'col-6 mx-auto' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">名前</label>
      <div class="col-sm-10">
        <!--<input type="title" class="form-control form-control-lg" id="colFormLabelLg" >-->
        <%= f.text_field :name, class: 'form-control' %>
      </div>
  </div>
  <div class="row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">メールアドレス</label>
      <div class="col-sm-10">
        <!--<input type="title" class="form-control form-control-lg" id="colFormLabelLg" >-->
        <%= f.text_field :email, class: 'form-control' %>
      </div>
  </div>

  <div class="row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">新しいパスワード</label>
      <div class="col-sm-10">
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
  </div>

  <div class="row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">自己紹介</label>
      <div class="col-sm-10">
        <%= f.text_area :introduction, class: 'form-control' %>
      </div>
  </div>

  <div class="row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">ユーザー画像</label>
      <div class="mt-4 col-sm-10">
        <%= f.file_field :image, accept: "image/*" %>
      </div>
  </div>

  <div class="mx-1 my-1"><%= f.submit "更新", class: 'btn btn-sm btn-success' %></div>

  <div class="mx-1 my-1"><%= link_to '退会', registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-sm btn-danger" %></div>

<% end %>